:root {
  --white-highlight: #fff;
  --white: #f7f7f7;
  --grey-white: #f5f5f5;
  --grey: #a4a4a4;
  --darkest: #1c1917;
  --dark-blue: #122ab2;
  --blue: #0000ff;
  --light-blue: #2c70ff;
  --purple: #ae81ff;
  --red: #f9265e;
  --cyan: #66d9eb;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: var(--darkest);
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: var(--white-highlight);
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--grey-white);
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.superinfo-bg {
  background: var(--dark-blue);
  color: var(--white-highlight);
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0px 10px 10px 10px;
}

.superinfo a {
  color: var(--white-highlight);
}

.menu-bg {
  background: var(--light-blue);
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: var(--white-highlight);
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;

  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: var(--dark-blue);
}

.introduction {
  font-size: 3em;
  cursor: default;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.about {
  border-top: 2px solid var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
}

.about-info {
  flex: 2 1 300px;
  margin: 0px 10px;
}

.about-img {
  flex: 1 1 160px;
  margin: 0px 10px;
}

.about-info h1 {
  font-size: 3em;
  cursor: default;
  margin-bottom: 0.5em;
}

.about-info p {
  font-size: 1.5em;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-right: 1em;
  cursor: default;
  color: var(--white-highlight);
}

.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3em;
  text-align: center;
  line-height: 1.8em;
  cursor: default;
  margin: 0px 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.products-item {
  flex: 1 1 175px;
  margin: 10px;
}

.products-item h2 {
  cursor: default;
  font-size: 3em;
  color: var(--grey);
  background: var(--white);
  padding: 60px 20px;
  text-align: center;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.red {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

.price {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price-item {
  flex: 1;
  flex-direction: column;
  border: 4px solid whitesmoke;
  margin: 10px;
  padding: 20px;
  min-width: 260px;
}

.price-item h2 {
  font-size: 3em;
  text-align: center;
  cursor: default;
  margin-top: 20px;
}

.copper {
  color: #b87333;
}

.silver {
  color: #a4a4a4;
}

.gold {
  color: #ffd700;
}

.price-item span {
  max-width: 300px;
  margin: 20px auto;
  cursor: default;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px 5px 0px;
  border-top: 4px solid #2c70ff;
  border-bottom: 4px solid #2c70ff;
  font-size: 3em;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.price-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.price-item li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #7c7c7c;
  border-radius: 50%;
}

.price-item a {
  max-width: 300px;
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 4px solid;
  color: var(--grey-white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0px;
  text-align: center;
}

.quality {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.quality-item p {
  text-align: justify;
}

.quality-item h2 {
  font-size: 2.25em;
  color: var(--light-grey);
  margin-bottom: 20px;
  cursor: default;
}

.quality-item h2::before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 8px;
  background: var(--blue);
  margin-right: 10px;
}

.quality-item:nth-of-type(3n + 1) h2::before {
  background: var(--purple);
}

.quality-item:nth-of-type(3n + 2) h2::before {
  background: var(--red);
}

.quality-item:nth-of-type(3n + 3) h2::before {
  background: var(--cyan);
}

.quality-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: var(--grey);
  cursor: default;
}

.newsletter {
  padding: 48px calc((100% - 960px) / 2);
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: var(--light-grey);
  cursor: default;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 200px;
  color: var(--grey);
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 200px;
  font-size: 1.25em;
  color: var(--grey);
  font-style: italic;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  border: 4px solid var(--light-blue);
  background: transparent;
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 200px;
  background: var(--light-blue);
  font-family: 'Nunito', Helvetica, Arial, sans-seriff;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-highlight);
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

.footer {
  display: flex;
  height: 4rem;
  background: var(--light-blue);
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2em;
  color: var(--white-highlight);
  cursor: default;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 376px) {
  .about-img {
    margin-top: 3rem;
  }

  #painting {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 472px) {
  .footer {
    height: 4.5rem;
    margin-top: 3rem;
  }
}

@media (max-width: 577.14px) {
  .newsletter {
    gap: 2rem;
  }

  .newsletter-info h1 {
    margin-bottom: 1rem;
  }
}

@media (min-width: 517px) and (max-width: 578px) {
  #painting {
    display: flex;
    justify-content: left;
    margin-left: 1.5rem;
  }
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

@media (max-width: 696px) and (min-width: 579px) {
  #info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #painting {
    margin-top: 2rem;
    display: flex;
    justify-content: right;
  }
}

@media (max-width: 800px) {
  .price {
    padding-left: 10px;
    padding-right: 10px;
  }

  .price .price-item:nth-child(3) {
    order: -2;
  }

  .price .price-item:nth-child(2) {
    order: -1;
  }

  .price .price-item:first-child {
    order: 1;
  }
}

@media (max-width: 824px) {
  .products-item {
    display: flex;
    flex-direction: column;
  }
}
